<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.noesysmobile.wdtlibrary">
    <application>
        <service
                android:name=".WdtService"
                android:enabled="true"
                android:exported="false"
                android:process=":wdt">
        </service>
    </application>
</manifest>
